.version.index /* version checker */
{
	color: #00001C;
	background-color: #13EEE5;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Snell Roundhand_5';
	src: url('../fonts/snellroundhand-bold.eot');
	src: local('☺'), url('../fonts/snellroundhand-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

#page
{
	z-index: 1;
	border-width: 0px;
	margin-right: auto;
	padding-bottom: 222px;
	background-image: none;
	margin-left: auto;
	width: 100%;
	border-color: #000000;
	background-color: transparent;
}

#u94-4
{
	z-index: 2;
	font-weight: 700;
	font-family: '__Snell Roundhand_5';
	color: #EA2763;
	background-color: transparent;
}

#u107-4
{
	vertical-align: top;
	z-index: 6;
	display: block;
	position: relative;
}

#u132
{
	z-index: 10;
	position: relative;
	height: 2px;
}

.ie #u132
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 278px;
		max-width: 960px;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		margin-left: 20px;
		width: 95.84%;
	}

	#u94-4
	{
		min-height: 145px;
		text-align: left;
		font-size: 120px;
		line-height: 144px;
		position: relative;
		width: 100%;
	}

	#u107-4
	{
		width: 100%;
	}

	#u132
	{
		margin-right: -10000px;
		margin-top: 276px;
		width: 57.92%;
		left: 2.09%;
	}
}

@media (min-width: 601px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 278px;
		max-width: 768px;
	}

	#u94-4
	{
		min-height: 145px;
		text-align: left;
		font-size: 120px;
		line-height: 144px;
		position: relative;
		margin-right: -10000px;
		margin-top: 62px;
		width: 94.8%;
		margin-left: 2.61%;
		left: 0px;
	}

	#u132
	{
		margin-right: -10000px;
		margin-top: 276px;
		width: 57.95%;
		left: 2.09%;
	}

	#u107-4
	{
		margin-right: -10000px;
		margin-top: 207px;
		width: 94.8%;
		margin-left: 2.61%;
		left: 0px;
	}
}

@media (min-width: 481px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 278px;
		max-width: 600px;
	}

	#u132
	{
		margin-right: -10000px;
		margin-top: 276px;
		width: 58%;
		left: 2%;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u94-4
	{
		min-height: 145px;
		text-align: left;
		font-size: 100px;
		line-height: 120px;
		position: relative;
		width: 100%;
		margin-left: 0%;
		left: -6.394884621840902e-14px;
	}

	#u107-4
	{
		width: 100%;
		margin-left: 0%;
		left: -6.394884621840902e-14px;
	}
}

@media (min-width: 376px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 216px;
		padding-top: 62px;
		max-width: 480px;
	}

	#u94-4
	{
		min-height: 106px;
		text-align: center;
		font-size: 80px;
		line-height: 96px;
	}

	#u94-4-bw
	{
		z-index: 2;
		min-height: 106px;
	}

	#u107-4
	{
		width: 91.67%;
		margin-left: 4.17%;
		left: 0px;
	}

	#u132
	{
		margin-top: 39px;
		width: 57.92%;
		margin-left: 2.09%;
	}
}

@media (min-width: 321px) and (max-width: 375px)
{
	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		min-height: 216px;
		padding-top: 62px;
		max-width: 375px;
	}

	#u94-4
	{
		min-height: 109px;
		text-align: center;
		font-size: 72px;
		line-height: 86px;
	}

	#u94-4-bw
	{
		z-index: 2;
		min-height: 109px;
	}

	#u107-4
	{
		margin-left: 0%;
		left: 0px;
	}

	#u132
	{
		margin-top: 36px;
		width: 57.87%;
		margin-left: 2.14%;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 216px;
		padding-top: 62px;
		max-width: 320px;
	}

	#u94-4
	{
		min-height: 101px;
		text-align: center;
		font-size: 64px;
		line-height: 77px;
	}

	#u94-4-bw
	{
		z-index: 2;
		min-height: 101px;
	}

	#u107-4
	{
		margin-left: 0%;
		left: 0px;
	}

	#u132
	{
		margin-top: 44px;
		width: 57.82%;
		margin-left: 2.19%;
	}

	body
	{
		min-width: 320px;
	}
}

