.version.index /* version checker */
{
	color: #0000E5;
	background-color: #787326;
}

@font-face
{
	font-family: '__Yuanti TC_5';
	src: url('../fonts/yuanti_3.eot');
	src: local('☺'), url('../fonts/yuanti_3.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

#page
{
	background-image: none;
	min-height: 278px;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 222px;
	background-color: transparent;
}

#u132
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 276px;
	position: relative;
	height: 2px;
}

.ie #u132
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
}

#u94-4
{
	z-index: 2;
	font-weight: 400;
	font-family: pinyon-script, cursive;
	color: #EA2763;
	position: relative;
	background-color: transparent;
}

#u107-4
{
	min-height: 69px;
	z-index: 6;
	font-weight: 400;
	font-family: '__Yuanti TC_5';
	color: #7F7F7F;
	position: relative;
	background-color: transparent;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		margin-left: 20px;
		width: 95.84%;
	}

	#u94-4
	{
		min-height: 145px;
		text-align: left;
		font-size: 120px;
		line-height: 144px;
		width: 100%;
	}

	#u107-4
	{
		text-align: left;
		font-size: 40px;
		line-height: 48px;
		width: 100%;
	}

	#u132
	{
		width: 57.92%;
		left: 2.09%;
	}
}

@media (min-width: 481px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		max-width: 768px;
	}

	#u94-4
	{
		min-height: 145px;
		text-align: left;
		font-size: 120px;
		line-height: 144px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 20px;
		width: 94.8%;
	}

	#u132
	{
		width: 57.95%;
		left: 2.09%;
	}

	#u107-4
	{
		text-align: left;
		font-size: 36px;
		line-height: 43px;
		margin-right: -10000px;
		margin-top: 207px;
		left: 20px;
		width: 94.8%;
	}

}

@media (min-width: 376px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		max-width: 480px;
	}

	#u132
	{
		width: 57.92%;
		left: 2.09%;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#u94-4
	{
		min-height: 127px;
		text-align: center;
		font-size: 100px;
		line-height: 120px;
		width: 100%;
		margin-left: 0%;
		left: -3.552713678800501e-14px;
	}

	#u107-4
	{
		text-align: center;
		font-size: 32px;
		line-height: 38px;
		width: 100%;
		margin-left: 0%;
		left: -3.552713678800501e-14px;
	}

}

@media (min-width: 321px) and (max-width: 375px)
{
	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		max-width: 375px;
	}

	#u132
	{
		width: 57.87%;
		left: 2.14%;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 89.61%;
		margin-left: 5.2%;
	}

	#u94-4
	{
		min-height: 109px;
		text-align: center;
		font-size: 90px;
		line-height: 108px;
		width: 99.71%;
		margin-left: 0.15%;
		left: 1.5000000000000249px;
	}

	#u107-4
	{
		text-align: center;
		font-size: 32px;
		line-height: 38px;
		width: 99.71%;
		margin-left: 0.15%;
		left: 0.5000000000000249px;
	}

}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u132
	{
		width: 57.82%;
		left: 2.19%;
	}

	#pu94-4
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 91.57%;
		margin-left: 4.22%;
	}

	#u94-4
	{
		min-height: 101px;
		text-align: center;
		font-size: 80px;
		line-height: 96px;
		width: 100%;
		margin-left: 0%;
		left: -0.49999999999999645px;
	}

	#u107-4
	{
		text-align: center;
		font-size: 26px;
		line-height: 31px;
		width: 95.57%;
		margin-left: 2.22%;
		left: -0.49999999999999645px;
	}

	body
	{
		min-width: 320px;
	}
}

